<!-- Loading -->
<div *ngIf="loading">
  <!-- <app-loading><app-loading> mai mốt tự thiết kế app-loading rồi thêm vào như này-->
  <p class="text-center">Loading ...</p>
</div>

<!-- Error -->
<div *ngIf="error">
  <!-- <app-error><app-error> -->
  <p class="text-center">{{ error }}</p>
</div>

<div *ngIf="movieDetail" class="container">
  <div class="row">
    <div class="col-sm-6">
      <img [src]="movieDetail.hinhAnh" width="300" height="300" />
    </div>
    <div class="col-sm-6">
      <h1>{{ movieDetail.tenPhim }}</h1>
      <p>{{ movieDetail.ngayKhoiChieu | date: "dd/MM/yyyy" }}</p>
      <p>{{ movieDetail.moTa }}</p>
    </div>
  </div>
</div>
