<!-- <h1 class="demo">Hello angular</h1> -->

<!-- <app-demo></app-demo> -->

<!-- <app-home></app-home> -->

<!-- <app-baitap2></app-baitap2> -->

<!-- <app-data-binding></app-data-binding> -->

<!-- <app-directives></app-directives> -->

<!-- <app-movie></app-movie> -->

<!-- <app-shopping></app-shopping> -->

<!-- <app-baitap8></app-baitap8> -->

<!-- Pipe: các hàm do angular định nghĩa, giúp format dữ liệu hiển thị ra giao diện -->
<!-- <p>{{ message | uppercase }}</p>
<p>{{ message | lowercase }}</p>
<p>{{ number | percent }}</p>
<p>{{ price | currency: "VND" }}</p>
<p>{{ date | date: "dd/MM/yyyy hh:mm:ss" }}</p>
<p *ngFor="let item of obj | keyvalue">{{ item.key }} - {{ item.value }}</p>
<p *ngFor="let number of numbers | slice: 0:10">{{ number }}</p> -->

<!-- pipe shortcut -->
<!-- <p>
  {{ message1 | shortcut: 50 }}
</p>

<button mat-button>Basic</button>
<button mat-button color="primary">Primary</button>
<button mat-button color="accent">Accent</button>
<button mat-button color="warn">Warn</button>
<button mat-button disabled>Disabled</button> -->

<router-outlet></router-outlet>
